{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">

    {% block meta_content %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="This is a blog on tech, life, and everything in between">
        <link href="#" rel="alternate" type="application/rss+xml" title="One feed to track them all"/>

    {% endblock meta_content %}

    <title>{% block title %}Anthony Okonedo{% endblock title %}</title>

    {% block sheets %}

    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">

    {% endblock sheets %}
</head>
<body>

  <header id="header">
      <center>
          <a id="insignia" href="/">
              <img alt="Anthony O. Okonedo" src="{% static 'blog/img/io.png' %}">
          </a>
          <h1>
              <a href="/">Anthony O. Okonedo</a>
          </h1>
          <p class="signature">Happiness Engineer...</p>
          <p>... and my musings on life, code, and everything in between</p>
          <a href="https://twitter.com/zenith_matic" class="fa fa-twitter fa-lg" title="Follow on Twitter"></a>
      </center>
  </header>

  <main id="content">
        {% block content %} {% endblock content %}
  </main>

  <a href="#" id="fixedbutton" class="back-to-top" display="none">Back to top</a>

{% block scripts %}
<script src="{% static 'blog/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'blog/js/endless-pagination.js' %}"></script>
<script src="{% static 'blog/js/back-to-top.js' %}"></script>
{% endblock scripts %}
</body>
</html>
