{% load static %}
{% load django_markdown %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="This is a blog on tech, life, and everything in between">
    <link href="#" rel="alternate" type="application/rss+xml" title="One feed to track them all"/>
    <title>{{post.title }}</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
</head>
<body>

  <header id="header">
      <center>
          <a id="insignia" href="/">
              <img alt="Anthony O. Okonedo" src="{% static 'blog/img/io.png' %}">
          </a>
          <h1>
              <a href="/">Anthony O. Okonedo</a>
          </h1>
          <p class="signature">Happiness Engineer...</p>
          <p>... and my musings on life, code, and everything in between</p>
          <a href="https://twitter.com/zenith_matic" class="fa fa-twitter fa-lg" title="Follow on Twitter"></a>
          &nbsp
          <a href="/" class="fa fa-home fa-lg" title="Go To Home"></a>
      </center>
  </header>

  <main id="content">
      <p class="meta meta-date">{{ post.created|date:"j F, Y" }}</p>
      <h2>{{ post.title }}</h2>

      <article>{{ post.body|markdown }}</article>
  </main>

  <a href="#" id="fixedbutton"class="back-to-top " display="none">Back to top</a>

  <div id="disqus_thread"></div>

  <footer id="footer">

  </footer>

<script src="{% static 'blog/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'blog/js/back-to-top.js' %}"></script>
<script src="{% static 'blog/js/disqus.js' %}"></script>
</body>
</html>
