{% load django_markdown %}
{% load endless %}

{% lazy_paginate 5 live_posts %}
      {% for post in live_posts %}
          <a href='{% url 'view_post' slug=post.slug %}'>{{ post.title }}</a> | <span class="meta-date">{{ post.created|date:"j F, Y" }}</span>
          <article class="meta">{{ post.body|truncatewords:20|markdown }}</article>

          <hr>
          <a href="#" id="fixedbutton" class="back-to-top" display="none">Back to top</a>
      {% endfor %}
{% show_more %}
